<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Komis Samochodowy</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body class="bg-gray-900 text-white font-sans">
    <div class="container mx-auto max-w-7xl">
      <header class="flex justify-between items-center py-4 mb-6 border-b border-gray-700">
        <h1 class="text-4xl font-semibold text-gray-100">Komis Samochodowy</h1>
        <!-- <%= image_tag 'PANS.png', alt: 'PANS', class: 'object-contain h-10' %> -->
      </header>

      <div class="flex space-x-6">
        <div class="w-1/4">
        <nav>
          <ul class="space-y-4">
            <li>
              <a href="/" class="btn flex items-center space-x-4 bg-blue-700 text-white py-3 px-6 rounded-md w-full hover:bg-blue-600 transition-all shadow-lg">
                <span class="material-icons">home</span>
                <span class="btn-text text-lg">Lista Samochodów</span>
              </a>
            </li>
            <li>
              <a href="/categories" class="btn flex items-center space-x-4 bg-yellow-700 text-white py-3 px-6 rounded-md w-full hover:bg-yellow-600 transition-all shadow-lg">
                <span class="material-icons">list</span>
                <span class="btn-text text-lg">Lista Kategorii</span>
              </a>
            </li>
            <li>
              <a href="/cars/new" class="btn flex items-center space-x-4 bg-green-700 text-white py-3 px-6 rounded-md w-full hover:bg-green-600 transition-all shadow-lg">
                <span class="material-icons">car_repair</span>
                <span class="btn-text text-lg">Dodaj Samochód</span>
              </a>
            </li>
            <li>
              <a href="/categories/new" class="btn flex items-center space-x-4 bg-purple-700 text-white py-3 px-6 rounded-md w-full hover:bg-purple-600 transition-all shadow-lg">
                <span class="material-icons">category</span>
                <span class="btn-text text-lg">Dodaj Kategorię</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

        <div class="container mx-auto mt-8 ">
          <div class="flex justify-between items-center mb-4">
            <h1 class="text-3xl font-bold">Edytuj Samochód</h1>
            <%= link_to "Powrót", cars_path, class: "bg-gray-600 text-white py-2 px-6 rounded-md hover:bg-gray-500 transition-all" %>
          </div>

          <div class="bg-gray-800 p-6 rounded-md shadow-lg w-full">
            <%= form_with(model: @car, local: true) do |form| %>
            <div class="mb-6">
              <%= form.label :brand, class: "text-sm text-gray-400" %>
              <%= form.text_field :brand, class: "w-full p-3 bg-gray-700 text-white border border-gray-600 rounded-md", value: @car.brand %>
            </div>
            <div class="mb-6">
              <%= form.label :model, class: "text-sm text-gray-400" %>
              <%= form.text_field :model, class: "w-full p-3 bg-gray-700 text-white border border-gray-600 rounded-md", value: @car.model %>
            </div>
            <div class="mb-6">
              <%= form.label :year, class: "text-sm text-gray-400" %>
              <%= form.number_field :year, class: "w-full p-3 bg-gray-700 text-white border border-gray-600 rounded-md", value: @car.year %>
            </div>
            <div class="mb-6">
              <%= form.label :price, class: "text-sm text-gray-400" %>
              <%= form.number_field :price, step: 0.01, class: "w-full p-3 bg-gray-700 text-white border border-gray-600 rounded-md", value: @car.price %>
            </div>

            <div class="mb-6">
              <%= form.label :category_ids, "Wybierz Kategorię", class: "text-sm font-semibold text-gray-400" %>
              <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
                <% Category.all.each do |category| %>
                  <div class="flex items-center space-x-2">
                    <%= form.check_box :category_ids, { multiple: true, class: "text-green-500 border-gray-600 focus:ring-2 focus:ring-green-500" }, category.id, nil %>
                    <%= form.label "category_#{category.id}", category.name, class: "text-gray-300" %> 
                  </div>
                <% end %>
              </div>
            </div>

            <div class="flex justify-end mb-4">
              <%= form.submit "Zaktualizuj Samochód", class: "bg-yellow-600 text-white py-2 px-6 rounded-md hover:bg-yellow-500" %>
            </div>
          <% end %>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
